@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

:root {
  --black: #000;
  --white: #fff;
  --cherry: #e83046;

  --font: "Poppins", sans-serif;
}
